---
---

<section class="px-6 py-24 bg-mantle">
  <div class="max-w-2xl mx-auto flex flex-col gap-6 text-[var(--ctp-subtext1)]">
    <p>
            <strong class="text-[var(--ctp-text)]">Sev</strong> is an open-source graphical text editor.
    </p>
    <p>
      It can build to a desktop executable or to WebAssembly, allowing it to be served directly in the browser.
    </p>
    <p>
      Its user-facing commands and settings are exposed via an embedded Scheme interpreter, making it highly configurable and extensible.
    </p>
    <p>
      Rather than being just another text editor, the goal of Sev is to serve as a foundation for building other text-centric applications on top of.
    </p>
  </div>
</section>
